{% extends "base.html" %}
{% block title %} login page {% endblock %}

{% block content %} 
    <div class="flex items-center justify-center h-screen bg-[#313647]">
      <div class="pt-15 pb-15 pl-10 pr-10 w-64 bg-[#4A70A9] rounded-2xl">
        <div class="text-center">
            <h1 class="text-xl pb-4">Login with Google</h1>
            <button type="button" class="text-white bg-[#9f90ea] pt-2 pb-2 pl-5 pr-5 rounded-full outline-0  cursor-pointer">
                <a href="/login">Login</a>
            </button>
        </div>
      </div>
    </div>
{% endblock %}